{
  "ConnectionStrings": {
//#if (database == "mysql")
    "DatabaseConnection": "Server=$DB_SERVER;database=$DB_NAME;uid=$DB_USER;pwd=$DB_PASSWORD;Convert Zero Datetime=True;Connection Timeout=$DB_CONNECTION_TIMEOUT;"
//#endif
//#if (database == "postgres")
    "DatabaseConnection": "User ID=$DB_USER;Password=$DB_PASSWORD;Server=$DB_SERVER;Port=5432;Database=$DB_NAME;Integrated Security=true;Pooling=true;Timeout=$DB_CONNECTION_TIMEOUT"
//#endif
  },
  "Serilog": {
    "MinimumLevel": "Information",
    "Override": {
//#if (enable-outbox-pattern)
      "DotNetCore.CAP.Internal.SubscribeDispatcher": "None",
//#endif
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    },
    "WriteTo": [
      {
        "Name": "Console",
        "Args": {
          "outputTemplate": "[{Timestamp:HH:mm:ss} {Level:u3}] {SourceContext} {Message:lj}{NewLine}{Exception}"
        }
      }
    ],
    "Enrich": [
      "FromLogContext",
      "WithMachineName",
      "WithProcessId",
      "WithThreadId"
    ]
  },
  "ApplicationSettings": {
  },
  "RedisSettings": {
    "Host": "$REDIS_HOST",
    "Port": $REDIS_PORT,
    "DbId": $REDIS_DBID,
    "User": "$REDIS_USER",
    "Password": "$REDIS_PASSWORD",
  },
//#if (enable-outbox-pattern)
  "RabbitMqSettings": {
    "Host": "$RABBITMQ_HOST",
    "Port": $RABBITMQ_PORT,
    "VirtualHost": "$RABBITMQ_VHOST",
    "Username": "$RABBITMQ_USERNAME",
    "Password": "$RABBITMQ_PASSWORD",
  },
//#endif
//#if (enable-open-telemetry)
  "JaegerSettings": {
    "Url": "$JAEGER_HOST"
  }
//#endif
}
