{
  "ConnectionStrings": {
    "DatabaseConnection": "Server=$DB_SERVER;database=$DB_NAME;uid=$DB_USER;pwd=$DB_PASSWORD;Convert Zero Datetime=True;Connection Timeout=$DB_CONNECTION_TIMEOUT;"
  },
  "Serilog": {
    "MinimumLevel": "Information",
    "Override": {
      "DotNetCore.CAP.Internal.SubscribeDispatcher": "None",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    },
    "WriteTo": [
      {
        "Name": "Console",
        "Args": {
          "outputTemplate": "[{Timestamp:HH:mm:ss} {Level:u3}] {SourceContext} {Message:lj}{NewLine}{Exception}"
        }
      }
    ],
    "Enrich": [
      "FromLogContext",
      "WithMachineName",
      "WithProcessId",
      "WithThreadId"
    ]
  },
  "RabbitMqSettings": {
    "Host": "$RABBITMQ_HOST",
    "Port": $RABBITMQ_PORT,
    "VirtualHost": "$RABBITMQ_VHOST",
    "Username": "$RABBITMQ_USERNAME",
    "Password": "$RABBITMQ_PASSWORD",
  },
  "ApplicationSettings": {
  },
  "RedisSettings": {
    "Host": "$REDIS_HOST",
    "Port": $REDIS_PORT,
    "DbId": $REDIS_DBID,
    "User": "$REDIS_USER",
    "Password": "$REDIS_PASSWORD",
  },
  "JaegerSettings": {
    "Url": "$JAEGER_HOST",
  }
}